$coloreNome:rgb(4, 105, 152);
$coloreFoot:rgb(79, 7, 146);

$bgMenu: dimgrey;
$coloreMenu: #ffffff;
$coloreMenuhover:#1c1c1b;
$coloreRigaFoot:#053df5;
$coloreFootA: #959709;
$bg-button:#e9f0e9;
$coloreButton:#eaad61;
$coloreBordoButton:#71600a;
$coloreButtonHover: #ede913;

$form:#ce5c00;
$backform:#ffe4c4;
$colorport: rgb(238, 244, 244);
$colorprese: rgb(167, 155, 147);
$hovervoci:  #ff8dbb;

$carattere:arial;
$fontport:italic;
$bold:bold; 
