@import "variabiliEs";

/* INTESTAZIONE */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}


body {
    background: rgb(0, 48, 255);
    background: linear-gradient(133deg, rgba(0, 48, 255, 1) 0%, rgba(30, 49, 136, 1) 15%, rgba(39, 74, 139, 1) 81%, rgba(75, 138, 253, 1) 88%, rgba(0, 95, 255, 1) 100%);
}


h1 {
    color: $coloreButtonHover;

    @media screen and (max-width: 1440px) {
        font-size: 25px;
    }

    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }

    @media all and (max-width:768px) {
        font-size: 18px;
        margin-left: 20px;
    }

    @media screen and (max-width: 500px) {
        font-size: 13px;
    }

    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
}

main,
footer {
    
    padding: 80px 80px 50px 80px;
}


main {
    @media all and (max-width:768px) {
        padding: 60px 0px 0px 0px;
    }
}


/* FOOTER */
footer {
    text-align: center;

    @media all and (max-width: 500px) {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
    }

    a {
        color: $coloreButtonHover;
        text-decoration: none;
        font-family: $carattere;
        font-size: x-large;

        @media all and (max-width:768px) {
            display: inline;
            font-size: medium;
            margin-left: 30px;
        }

        @media screen and (max-width: 500px) {
            font-size: medium;
            display: block;
            margin: 5px 0;
        }
    }
}

.privacy {
    margin-top: 50px;
    background-color: $coloreMenuhover;

    @media screen and (max-width: 500px) {
        background-color: transparent;
        border-top: 2px solid rgb(14, 13, 13);
        padding-top: 10px;
    }

    li {
        display: inline;
        font-size: xx-small;
        margin-left: 30px;
    }
}


// MENU //
nav.menu {
    position: fixed;
    background-color: $coloreMenuhover;
    color: $coloreMenu;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    @media all and (max-width:768px) {
        position: fixed;
        background-color: $coloreMenuhover;
        color: $coloreMenu;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .logo {
        margin: 0 70px 0 40px;

        @media all and (max-width:768px) {
            margin: 0 70px 0 40px;
        }
    }

    .label-controllo {
        @media all and (max-width:768px) {
            position: fixed;
            top: 18px;
            left: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;

            >span,
            >span::before,
            >span::after {
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: $coloreMenu;
                transition-duration: .25s;
            }

            >span::before {
                content: '';
                top: -8px;
            }

            >span::after {
                content: '';
                top: 8px;
            }
        }
    }
}

/* ul del menu */
#menu {
    @media all and (max-width:768px) {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        height: 100%;
        padding: 80px 0;
        background-color: $bgMenu;
        box-shadow: 2px 2px 6px $coloreMenuhover;
        transition-duration: .25s;
    }
}

/* voci menu */
.vociMenu {
    @media all and (max-width:768px) {
        display: block;
        padding: 12px 24px;
        color: $coloreMenu;
        font-size: 1.5rem;
        font-weight: 600;
        transition-duration: .25s;

        /* voci menu hover */
        &:hover {
            background-color: $hovervoci;
            color: $coloreMenuhover;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline;
    margin: 0 40px 0 0;
}

a {
    color: $coloreMenu;
    text-decoration: none;

    &:hover {
        color: $coloreButtonHover;
        text-decoration: underline;
    }
}


#controllo {
    opacity: 0;

    @media all and (max-width:768px) {
        opacity: 0;

        &:checked {
            +.label-controllo {
                >span {
                    transform: rotate(45deg);

                    &::before {
                        top: 0;
                        transform: rotate(0deg);
                    }

                    &::after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
            }

            ~#menu {
                left: 0 !important;
            }
        }
    }

}