@import "variabiliEs";


/* PRESENTAZIONE */
.presentazione {

    padding: 30px 30px 30px 30px;

    @media screen and (max-width: 768px) {
        padding: 20px;
    }



    h1 {
        margin: 10px auto 10px auto;
        text-align: center;
        color: $coloreMenuhover;

        @media screen and (max-width: 768px) {

            font-size: 1.8rem;
        }

    }

    p {
        text-align: center;
        margin: 10px auto 10px auto;
        width: 500px;
        font-style: $fontport;
        font-size: large;

        @media screen and (max-width: 768px) {
            width: 90%;
            font-size: 1rem;
            margin: 0 auto;
        }

    }

    img {
        margin-left: 220px;

        @media screen and (max-width: 768px) {
            width: 80%;
            margin: 20px auto;
            display: block;
        }


    }
}

/* STUDI */
.studi {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


}



/* LAVORI */
.lavori {

    width: 710px;
    height: 600px;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
    }


    img {
        padding: 40px 10px 30px 90px;
        margin-left: 30px;

        @media screen and (max-width: 768px) {
            padding: 20px;
            margin-left: 0;
            width: 50%;
            display: block;
            margin: 0 auto;
        }


    }


    p {
        padding: 40px 60px 30px 80px;
        font-style: $fontport;
        font-size: large;

        @media screen and (max-width: 768px) {
            padding: 20px;
            font-size: 1rem;
            text-align: center;
        }
    }
}

h2 {
    padding: 10px 0 0 10px;

    @media screen and (max-width: 768px) {
        text-align: center;
        padding: 10px 0;
        font-size: 1.5rem;
    }
}

/* PROGETTI */
.progetti {

    width: 710px;
    height: 600px;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
    }

    img {
        padding: 40px 10px 30px 80px;
        margin-left: 40px;

        @media screen and (max-width: 768px) {
            padding: 20px;
            width: 50%;
            display: block;
            margin: 0 auto;

        }


    }

    p {
        padding: 40px 60px 30px 80px;
        font-style: $fontport;
        font-size: large;

        @media screen and (max-width: 768px) {
            padding: 20px;
            font-size: 1rem;
            text-align: center;
        }
    }
}